<!DOCTYPE html>
<html lang="en">

<head>
    <title>Spartan Sellers: Admin</title>
    <link rel="stylesheet" href="/style.css">
    <meta charset="utf-8">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400;700&display=swap" />
</head>

<body>

    <header>
        <div id="body1_container"><!--inline-->
            
            <img src="/images/sipnsnuggles_logo.png" id="logo" alt="cat logo">

            <h1>Administrator</h1>

            <div>
                <form action="/admin/admin-bulk" method="GET">
                    <button type="submit" class="register-btn">Bulk Product Upload</button>
                </form>            
            </div>
            
            <div>
                <form action="/admin/main" method="GET">
                    <button type="submit" class="register-btn">Product Edit</button>
                </form>          
            </div>

            <div>
                <button id="index-logout-btn" class="nav_bar" >Logout</button>
            </div>
        </div>
    </header>


    <hr>