html, pre{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

body{
    background-color: darkkhaki;
}

body, #body1, #body2, #splash_image{
    margin: 0px;
    padding: 0px;
}

#header{
    background-color: darkkhaki;
}

#body1{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    margin: 0 auto;
    max-width: 1550px;
    padding:10px;
}

#body2{
    background-image: url('splashimage.png'); /* Replace 'path/to/your/image.jpg' with the actual path to your image */
    background-size: cover; /* Adjust the background size property based on your preference */
    background-position: center;
    width: 1550px;
    height: 500px;
    border: 2px solid rgb(193, 138, 99);
}

#logo{
    width: 500px;
    height: auto;
}

.nav_bar{
    margin-top: 5px;
    padding: 0 10px;
    margin-right: 50px;
}

#search{
    margin-top: 5px;
    margin-right: 50px;
}

input.search_bar{
    background-color: gray;
    color: white;
    border-radius: 20px;
}

#search input.search_bar::placeholder{
    color: white;
    font-size: 14pt;
}

#search input.search_bar{
    height: 30px;
}

.nav_bar h1{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    color: white;
}

#browse_button{
    background-color: rgb(193, 138, 99);
    width: 250px;
    height: 80px;
    border-radius:20px;
    margin-left: 665px;
    margin-top: 300px;
}

#browse_button h1{
    color: white;
    text-align: center;
}

#hook{
    background-color: rgb(193, 138, 99);
    margin: 0px;
    padding: 5px;
}

#hook h1{
    text-align: center;
    color:white;
}

#info_bar{
    background-color: rgb(193, 138, 99);
    padding: 5px;
    text-align: center;
}

#info_bar h2{
    color: white;
}

#fproduct_1{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    margin: 0 auto;
    max-width: 1550px;
    padding:10px;
}

.fprod_text_box{
    margin-top: 20px;
}

.fprod{
    color: white;
    font-size: 40pt;
    margin-left: 400px;
}

.fprod_image{
    margin-top: 50px;
    width: 200px;
    height: 200px;
}

.fprod_label{
    color: white;
    margin-right: 400px;
    text-align: left;
}

.cat_prints{
    height: 90px;
    border: 0px;
    background-image: url('cat_prints.png');
    background-repeat: repeat-x;
    margin-top: 50px;
}