<%- include('./partials/head') %>
<div class="container">
    <h1>Shopping Cart</h1>

    <h2>Your cart is currently empty</h2>
</div>


<footer><!--this is the footer-->
    <div id="footer_background">
        <div id="coffee_bean_footer_accent">
            <p>Copyright © 2024 Sip 'n Snuggles</p>
        </div>
    </div>
</footer>

</body>

</html>