<%- include('./partials/head') %>
    <!--this container holds the cat prints that go across the screen as a divider-->
    <div class="cat_prints_container"> <!--block-->
        <hr class="cat_prints">
    </div>

    <body>
        <div class="impact-container">
            <div class="impact-section">
                <h2 class="impact">Our Impact</h2>
                <p>At Sip N Snuggles, we are dedicated to making a difference in the lives of cats in need. Through our
                    efforts, we have successfully facilitated the adoption of hundreds of cats into loving homes.</p>
            </div>
            <div class="impact-section">
                <h2>Adoption Stories</h2>
                <p>Every cat has a unique story, and we're proud to share some of the heartwarming adoption stories from
                    our cafe:</p>
                <ul class="impact-list">
                    <li>A stray kitten found abandoned on the streets found a forever home with a loving family.</li>
<br>
                    <li>An older cat, overlooked by many, finally found a new family to spend their golden years with.
                    </li>
                    <br>
                    <li>A shy cat who had been in our care for months finally came out of their shell and found their
                        perfect match.</li>
                        <br>

                </ul>
            </div>
            <div class="impact-section">
                <h2>How You Can Help</h2>
                <p>Join us in our mission to find homes for cats in need by visiting our cafe, spreading the word about
                    adoption, or making a donation to support our efforts.</p>
            </div>
        </div>

        <!--this container holds the cat prints that go across the screen as a divider-->
        <div class="cat_prints_container"> <!--block-->
            <hr class="cat_prints">
        </div>
    </body>
    <footer><!--this is the footer-->
        <div id="footer_background">
            <div id="coffee_bean_footer_accent">
                <p>Copyright © 2024 Sip 'n Snuggles</p>
            </div>
        </div>
    </footer>

    </html>