<!DOCTYPE html>
<html lang="en">

<head>
    <title>Sip N Snuggles Register</title>
    <link rel="stylesheet" href="/style.css">
    <meta charset="utf-8">
</head>

<body>
<div id="login-container">
    <img id="login-pic" src="/images/logo.jpg.png">
    <h1>Register with Sip N Snuggles</h1>
    <form id="register-form" action="/user/register" method="POST">    
        
        <div class="input-box">
            <label>First Name</label>
            <input id="firstName" type="text" name="firstName" required>
        </div>
        
        <div class="input-box">
            <label>Last Name</label>
            <input id="lastname" type="text" name="lastName" required>
        </div>

        <div class="input-box">
            <label>Email</label>
            <input id="email" type="email" name="email" required>
        </div>

        <div class="input-box">
            <label>Password🔒</label>
            <input id="password" type="password" name="password" required>
        </div>

        <button class="login-btn" type="submit">Submit</button>

       
    </form>
    
    <form action="/" method="GET">
        <button class="login-btn" type="submit">Cancel</button>
    </form>
</div>

</body>

</html>